.App {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0px 200px 0px 200px;
	font-style: Lato;
	letter-spacing: 2px;
	font-size: 20px;
	border: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 50px;
}

.instructions {
	text-align: justify;
	line-height: 30px;
	font-weight: 300;
}

button {
	background-color: #615114;
	width: 400px;
	height: 50px;
	border-radius: 5px;
	opacity: 1;
	transition: 0.3s;
	border-style: none;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
	color: white;
}

.close-button {
	background-color: #a61c3c;
	width: 400px;
	height: 50px;
}

button:hover {
	opacity: 0.6;
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin-bottom: 30px; /* Adds 10px of margin below each list item */
}

img {
	width: 400px;
	height: auto;
	border-radius: 20px;
}

h1,
h2 {
	letter-spacing: 5px;
	font-weight: 200;
}
